{
    "openapi": "3.1.0",
    "info": {
        "title": "OpenAPI definition",
        "version": "v0"
    },
    "servers": [
        {
            "url": "http://drivebackend.rehr.cloud",
            "description": "Generated server url"
        }
    ],
    "paths": {
        "/api/devices/{deviceId}/name": {
            "put": {
                "tags": [
                    "device-controller"
                ],
                "summary": "Update device name",
                "description": "Update the name of a specific device",
                "operationId": "updateDeviceName",
                "parameters": [
                    {
                        "name": "deviceId",
                        "in": "path",
                        "description": "Device ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "New device name",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Device updated successfully",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeviceEntity"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Device not found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeviceEntity"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/telemetry": {
            "get": {
                "tags": [
                    "telemetry-controller"
                ],
                "summary": "Get telemetry data",
                "description": "Fetch telemetry records with optional time range and trip filtering",
                "operationId": "fetchTelemetry",
                "parameters": [
                    {
                        "name": "deviceId",
                        "in": "query",
                        "description": "Device ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "since",
                        "in": "query",
                        "description": "Start time (optional)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "End time (optional)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "tripId",
                        "in": "query",
                        "description": "Trip ID (optional)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Telemetry records",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/TelemetryResponse"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "telemetry-controller"
                ],
                "summary": "Ingest telemetry",
                "description": "Submit telemetry data for a device",
                "operationId": "ingestTelemetry",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TelemetryIngestRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Telemetry ingested",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/TelemetryResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/logout": {
            "post": {
                "tags": [
                    "auth-controller"
                ],
                "operationId": "logout",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/login": {
            "post": {
                "tags": [
                    "auth-controller"
                ],
                "operationId": "login",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/trips/{tripId}": {
            "get": {
                "tags": [
                    "trip-controller"
                ],
                "summary": "Get telemetry for a trip",
                "description": "Fetch all telemetry samples for a given trip and device, use trips/list to gather the id",
                "operationId": "getTelemetryByTrip",
                "parameters": [
                    {
                        "name": "tripId",
                        "in": "path",
                        "description": "Trip ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "deviceId",
                        "in": "query",
                        "description": "Device ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of telemetry samples",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/TripDetailsResponse"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "trip-controller"
                ],
                "summary": "Update trip",
                "description": "Update start/end location of a trip",
                "operationId": "updateTrip",
                "parameters": [
                    {
                        "name": "tripId",
                        "in": "path",
                        "description": "Trip ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Trip update data",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TripUpdateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Trip updated successfully",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/TripResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Trip not found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/TripResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/trips": {
            "get": {
                "tags": [
                    "trip-controller"
                ],
                "summary": "Get trips with details",
                "description": "Fetch telemetry grouped by trip with detailed information",
                "operationId": "fetchTelemetryGroupedByTrip",
                "parameters": [
                    {
                        "name": "deviceId",
                        "in": "query",
                        "description": "Device ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "since",
                        "in": "query",
                        "description": "Start time (optional)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "End time (optional)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page 0 based (0 is first page)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Trips with details",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "$ref": "#/components/schemas/TripDetailsResponse"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/trips/weekday": {
            "get": {
                "tags": [
                    "trip-controller"
                ],
                "summary": "Trips per weekday",
                "description": "Count trips grouped by day of week",
                "operationId": "getTripsPerWeekday",
                "parameters": [
                    {
                        "name": "deviceId",
                        "in": "query",
                        "description": "Device ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "since",
                        "in": "query",
                        "description": "Start time (optional)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "End time (optional)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Trip counts by weekday",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "integer",
                                        "format": "int32"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/trips/list": {
            "get": {
                "tags": [
                    "trip-controller"
                ],
                "summary": "Get trips",
                "description": "Show all existing trips, without telemetry data",
                "operationId": "getTrips",
                "parameters": [
                    {
                        "name": "deviceId",
                        "in": "query",
                        "description": "Device ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "since",
                        "in": "query",
                        "description": "Start time (optional)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "End time (optional)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number (0-based)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Page size",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paged list of trips",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/TripEntity"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/telemetry/latest": {
            "get": {
                "tags": [
                    "telemetry-controller"
                ],
                "summary": "Get latest telemetry",
                "description": "Fetch the latest telemetry record for a device",
                "operationId": "fetchLatestTelemetry",
                "parameters": [
                    {
                        "name": "deviceId",
                        "in": "query",
                        "description": "Device ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Latest telemetry data",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/TelemetryResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No telemetry found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/TelemetryResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/devices": {
            "get": {
                "tags": [
                    "device-controller"
                ],
                "summary": "Get all devices",
                "description": "Retrieve a list of all registered devices",
                "operationId": "getAllDevices",
                "responses": {
                    "200": {
                        "description": "List of devices",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/DeviceEntity"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/devices/stats": {
            "get": {
                "tags": [
                    "device-controller"
                ],
                "summary": "Vehicle statistics",
                "description": "Get aggregated vehicle statistics (distance, speed, drive time)",
                "operationId": "getVehicleStats",
                "parameters": [
                    {
                        "name": "deviceId",
                        "in": "query",
                        "description": "Device ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "since",
                        "in": "query",
                        "description": "Start time",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "End time",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Vehicle statistics",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/me": {
            "get": {
                "tags": [
                    "auth-controller"
                ],
                "operationId": "getCurrentUser",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserInfo"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "DeviceEntity": {
                "type": "object",
                "properties": {
                    "deviceId": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    }
                }
            },
            "TelemetryIngestRequest": {
                "type": "object",
                "properties": {
                    "deviceId": {
                        "type": "string"
                    },
                    "start_time": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "end_time": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "aggregated_data": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "object"
                        }
                    },
                    "timed_data": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "object"
                        }
                    },
                    "errors": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "object"
                        }
                    }
                },
                "required": [
                    "deviceId",
                    "start_time"
                ]
            },
            "TelemetryResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "deviceId": {
                        "type": "string"
                    },
                    "tripId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "start_time": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "end_time": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "timed_data": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "object"
                        }
                    },
                    "aggregated_data": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "object"
                        }
                    }
                }
            },
            "LoginRequest": {
                "type": "object",
                "properties": {
                    "username": {
                        "type": "string"
                    },
                    "password": {
                        "type": "string"
                    }
                }
            },
            "TripUpdateRequest": {
                "type": "object",
                "properties": {
                    "startLocation": {
                        "type": "string"
                    },
                    "endLocation": {
                        "type": "string"
                    }
                }
            },
            "TripResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "deviceId": {
                        "type": "string"
                    },
                    "startTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "endTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "startLocation": {
                        "type": "string"
                    },
                    "endLocation": {
                        "type": "string"
                    },
                    "trip_distance_km": {
                        "type": "number",
                        "format": "float"
                    }
                }
            },
            "TripDetailsResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "deviceId": {
                        "type": "string"
                    },
                    "startTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "endTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "startLocation": {
                        "type": "string"
                    },
                    "endLocation": {
                        "type": "string"
                    },
                    "timed_data": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "object"
                            }
                        }
                    },
                    "aggregated_data": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "object"
                            }
                        }
                    },
                    "trip_distance_km": {
                        "type": "number",
                        "format": "float"
                    }
                }
            },
            "TripEntity": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "device": {
                        "$ref": "#/components/schemas/DeviceEntity"
                    },
                    "startTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "endTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "startLocation": {
                        "type": "string"
                    },
                    "endLocation": {
                        "type": "string"
                    },
                    "trip_distance_km": {
                        "type": "number",
                        "format": "float"
                    },
                    "telemetry_count": {
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "UserInfo": {
                "type": "object",
                "properties": {
                    "username": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            }
        }
    }
}
